.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payslip {
    width: 30em;
    height: 20em;
    /* border-collapse: collapse; */
    text-align: center;
}


tr th, tr td {
    border: 1px solid black;
}

table {
    border: 2px solid black;
}

.allowance tr th, tr td {
    border-collapse: collapse;
}